<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <div class="page">
      <header class="profile">
        <div class="photo">
          <img src="<%= require('./assets/images/hero-photo.webp') %>" alt="photo of me" />
          <h1 class="name">David Smith</h1>
        </div>
        <section class="about">
          <h2>About Me</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, doloremque. Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Deleniti dolores fugiat cumque quisquam? Quam reiciendis reprehenderit esse
            quidem distinctio natus tempora, qui tenetur obcaecati, deleniti praesentium odio porro labore quo.
          </p>
          <nav class="links">
            <a href="#"><iconify-icon icon="logos:github-icon"></iconify-icon></a>
            <a href="#"><iconify-icon icon="logos:linkedin-icon"></iconify-icon></a>
            <a href="#"><iconify-icon icon="logos:twitter"></iconify-icon></a>
          </nav>
        </section>
      </header>
      <main>
        <section class="projects">
          <h2>My work</h2>
          <div class="cards">
            <div class="card">
              <img src="<%= require('./assets/images/main-1.webp') %>" />
              <div class="title">
                <h3>Project 1</h3>
                <div class="links">
                  <a href="#"><iconify-icon icon="logos:github-icon"></iconify-icon></a>
                  <a href="#"><iconify-icon icon="mdi:open-in-new"></iconify-icon></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, doloremque.</p>
            </div>
            <div class="card">
              <img src="<%= require('./assets/images/main-2.webp') %>" />
              <div class="title">
                <h3>Project 2</h3>
                <div class="links">
                  <a href="#"><iconify-icon icon="logos:github-icon"></iconify-icon></a>
                  <a href="#"><iconify-icon icon="mdi:open-in-new"></iconify-icon></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, doloremque.</p>
            </div>
            <div class="card">
              <img src="<%= require('./assets/images/main-3.webp') %>" />
              <div class="title">
                <h3>Project 3</h3>
                <div class="links">
                  <a href="#"><iconify-icon icon="logos:github-icon"></iconify-icon></a>
                  <a href="#"><iconify-icon icon="mdi:open-in-new"></iconify-icon></a>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, doloremque.</p>
            </div>
          </div>
        </section>
      </main>
      <footer class="contact">
        <div class="contact-info">
          <h2>Contact Me</h2>
          <div class="footer-text">
            <p>Please get in touch if you think our work could be mutually beneficial!</p>
          </div>
          <div class="footer-info">
            <p>1234 Random Road</p>
            <p>Random Town, California 12345</p>
            <p><iconify-icon icon="mdi:phone"></iconify-icon>555-555-5555</p>
            <p><iconify-icon icon="mdi:email"></iconify-icon>davidsmith.is.not.real@gmail.com</p>
          </div>
          <div class="footer-links">
            <a href="#"><iconify-icon icon="logos:github-icon"></iconify-icon></a>
            <a href="#"><iconify-icon icon="logos:linkedin-icon"></iconify-icon></a>
            <a href="#"><iconify-icon icon="logos:twitter"></iconify-icon></a>
          </div>
        </div>

        <div class="contact-photo">
          <img src="<%= require('./assets/images/footer-photo.webp') %>" alt="photo of me" />
        </div>
      </footer>
    </div>
  </body>
</html>
